streamlit
openai==2.30.0
langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.2.27
langchain-experimental==0.4.1
langchain-openai==1.1.12
langgraph==1.1.6
langgraph-prebuilt==1.0.9
pandas==3.0.1
plotly
numpy==2.4.3
python-dotenv==1.2.2
